@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
        .main {
            height: 100%;
        }
    	.wrap {
    		height: 100%;
    		position: relative;
    	}

    	body{
		   overflow-x: hidden;
		   background: #0c546024;
		   font-family: 'Pontano Sans', sans-serif;
		}

		#conte{
		    position: absolute;
		    width: 26%;
		    padding: 5rem 2rem 2rem 2rem;
		    border-radius: 5px;
		    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.3);
		    background: #0c5460;
		    top: 24%;
		    left: 36%;
		}

		#input-form{
			width:100%;
			text-align: center;
			border-radius: 8px;
			border: 0px;
			padding: 0.8rem;
			font-size: 0.7rem;
		}

		#input-form1{
			width:100%;
			text-align: center;
			border-radius: 8px;
			border: 0px;
			padding: 0.8rem;
			font-size: 0.7rem;
		}

		#img{
			height: 80px;
			margin: 1rem;
		}

		#forgot{
			text-align: center;
			
		}
			#text-forgot{
				color:white; 
				text-decoration: underline;
				font-size: 0.7rem;
			}
            
            html {
                height: 100%;
                width: 100%;
           }
           body {
               background-color: #f6fafa;
               height: 100%;
               width: 100%;
               margin-top: 0px;
               font-family: 'Inconsolata', monospace;
           }
           #cont {
               width: 100%;
               height: 100%;
               background-color: #0c5460;
               
           }
   
           #side {
               background:  #0c5460;
           }
   
           #side2 {
               background: rgb(255, 255, 255);
           }
   
           #btn-cus {
               border-radius: 0.5rem;
           }
   
           .col-2 {
                   padding-right: 1px;
           }
   
           #logo-login {
            width: 5rem; margin: 1rem 0 1rem 0;
           }
           #icon-ing {
               position: absolute; width: 1rem;
               top: 9px;
               right: 24px;
           }
   
           #icon-esp {
               width: 1rem;
               top: 9px;
               position: absolute;
               right: 12px;
           }
           #secciones-link {
               margin-bottom: 0.3rem;
           }

           .input-login {
                background: #ffffff;
                margin-top: -7px;
                border-radius: 5px;
                width: 100%;
                color: black;
                padding: 0.4rem;
                border: none;
                text-align: center;
           }

           .input-login:focus {
            background: #ffffff;
       }

           .input-login-pass {
                background: #dee2e6;
                margin-top: -7px;
                border-radius: 5px;
                width: 100%;
                color: black;
                padding: 0.4rem;
                border: none;
                text-align: center;
           }