#second {
    height: 100%;
}

#rowid {
    height: 100%;
}
    #rowid-child {
        margin-top: 3rem;
        margin-left: 22.7rem;
    }

#ventana-email {
    background: #0c5460;
    height: 382.28px;
    width: 355.16px;
    padding-top: 5rem;
    border-radius: 5px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.3);
    padding-left: 1.5rem;
    /* width: 30rem; */
}

#card-email {
    width: 21rem;
    border: none;
}

#email {
    width: 19rem;
    text-align: center;
}

#logo-login {
    width: 5rem;
    margin: 2rem 0 1rem 0;
    padding-top: 1.5rem;
   }

#btn-send {
    width: 19rem;
    margin-top: -0.5rem;
}

.alert-success {
    margin-top: -3rem;
    margin-left: -3%;
}